body {
  padding: 0 20px 20px 20px;
  max-width: 800px;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #454545;
  margin: 0 auto;
  background-color: #eee;
}

header {
  padding: 10px 0 0 0;
  text-align: center;
  font-family: 'Montserrat', serif;
  font-size: .5em;
  text-shadow: 1px 1px #ccc;
  line-height: .6em;
}

.map-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 550px 50px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

#countryResults {
  grid-row: 1;
  color: #454545;
  
}
#stateResults, #countryResults {
  border-collapse: collapse;
  background-color: #f2f2f2;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
  -moz-box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
  box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
}

th, td {
  text-align: center;
  padding: 5px 0;
}

#map_canvas{
  margin: -220px 0 0 0;
}

#stateResults{
  width: 50%;
  margin-top: -170px;
}

#stateResults th{
  background-color: #044459;
  color: white;
}

.stateRow{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1em;
}
.state-results-table{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: column;
}
#countryResults{
  width: 80%;
  z-index: 1;
}

#countryResults th {
  background-color: #26C48F;
  color: white;
}
.name-1 {
  background-color: rgb(178, 26, 67);
  color: white;
}
.name-2 {
  background-color: rgb(237, 120, 133);
  color: white;
}
.winner {
  background-color: #26C48F;
  color: white;
  text-transform: uppercase;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: .5em;
  text-align: center;
  text-transform: uppercase;
}
footer span {
  color: #f16059;
  padding: 0 5px;
}
